# You can set all the leds at once.
config led 'all'
        option color 'white'
        option status 'auto'

# Any other config will overwrite the value
#config led 'pwr'
#        option color 'FF0066'
#        option status 'auto'
#
#config led 'lan0'
#        option color 'FFFF00'
#        option status 'auto'
#
#config led 'wan'
#        option color 'green'
#        option status 'auto'
#
#config led 'pci1'
#        option color 'blue'
#        option status 'auto'
#
# Available LEDs: all, pwr, lan0, lan1, lan2, lan3, wan, pci1, pci2, pci3, usr1, usr2
# Available color: white, black, red, green, blue, or use hex code of color like: FFFF00
# For more information: rainbow --help
