# CZ.NIC folder
cznic/foris/ @shenek
cznic/fosquitto/ @shenek
cznic/mozilla-iot-gateway-webapp/ @miska
cznic/turrishw/ @shenek
cznic/turris-netboot/ @miska

#  Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec

# Lang
lang/ @Cynerd

# Libs
libs/ @ja-pa @Cynerd

# Multimedia
multimedia/ @BKPepe

# Net
net/knot/ @salzmdan
net/knot-resolver/ @ja-pa
net/unbound/ @ja-pa
net/tor/ @ja-pa
net/torsocks/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @miska
net/lighttpd-https-cert/ @miska
net/netmetr/ @shenek @mprudek
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/lighttpd/ @miska
net/nextcloud/ @miska
net/rmbt/ @mprudek

# Pakon related stuff
cznic/pakon/ @mmatejek
cznic/pakon-dev-detect/ @mmatejek
cznic/pakon-lists/ @mmatejek

# Updater
updater/ @Cynerd

# Data collection
collect/ @miska

# Utils
utils/ @miska @ja-pa @Cynerd

# Web related packages
web/ @miska @shenek @Cynerd
