package 'user_notify'

config smtp smtp
	option enable 0
	option from 'router@example.com'
	option server 'example.com'
	option port 587
	option username 'router'
	option password '1234'
	option security 'starttls' # Or 'ssl' or 'none'
	#list to 'user@example.com'

config notifications notifications
	# 0: never
	# 1: restarts, errors
	# 2: news
	option severity 0

config reboot reboot
	# Hours, how long to wait before reboot
	option delay 24
	# If present, schedule the reboot the last hour:minute before delay expires
	option reboot_hour 3
	option reboot_minute 30
