package 'user_notify'

config smtp smtp
	option enable 0
        option use_turris_smtp 1 
        option sender_name 'turris'
	#option from 'router@example.com'
	#option server 'example.com'
	#option port 587
	#option username 'router'
	#option password '1234'
	#option security 'starttls' # Or 'ssl' or 'none'
	#list to 'user@example.com'

config notifications notifications
	# 1: restarts
	# 2: restarts and errors
	# 3: restarts, errors and updates
	option severity 0
	# Send news?
	option news 0

config reboot reboot
	# Days, how long to wait before reboot (only if notifications are enabled)
	option delay 3
	# If present, schedule the reboot to specified time
	option time '03:30'
