  # "United" event log in JSON format
  - eve-log:
      enabled: yes
      type: file #file|syslog|unix_dgram|unix_stream
      filename: eve.json
      # the following are valid when type: syslog above
      #identity: "suricata" 
      #facility: local5
      #level: Info ## possible levels: Emergency, Alert, Critical,
                   ## Error, Warning, Notice, Info, Debug
      types:
        - alert
        #- http:
        #    extended: yes     # enable this for extended logging information
        #- dns
        #- tls:
        #    extended: yes     # enable this for extended logging information
        #- files:
        #    force-magic: yes   # force logging magic on all logged files
        #    force-md5: yes     # force logging of md5 checksums
        #- drop
        #- ssh
        #- smtp
        #- flow
