# CZ.NIC folder
cznic/foris/ @shenek
cznic/fosquitto/ @shenek
cznic/mozilla-iot-gateway-webapp/ @mhrusecky
cznic/turrishw/ @shenek
cznic/turris-webapps/ @mhrusecky

#  Hardware
hardware/ @mhrusecky
hardware/crypto-wrapper/ @vmyslivec
hardware/mox/mox-otp/ @vmyslivec

# Lang
lang/ @kkoci

# Libs
libs/ @jpavlinec @kkoci

# Multimedia
multimedia/ @jschlehofer

# Net
net/knot/ @dsalzman
net/knot-resolver/ @jpavlinec
net/unbound/ @jpavlinec
net/tor/ @jpavlinec
net/torsocks/ @jpavlinec
net/resolver-conf/ @jpavlinec
net/resolver-debug/ @jpavlinec
net/lighttpd/ @mhrusecky
net/lighttpd-https-cert/ @mhrusecky
net/nextcloud/ @mhrusecky
net/dnssec-rootkey/ @jpavlinec @vcunat
net/lighttpd/ @mhrusecky
net/nextcloud/ @mhrusecky
net/nextcloud/ @mhrusecky
net/rmbt/ @mprudek

# Pakon related stuff
cznic/pakon/ @mmatejek
cznic/pakon-dev-detect/ @mmatejek
cznic/pakon-lists/ @mmatejek

# Updater
updater/ @kkoci

# Data collection
collect/ @mhrusecky

# Utils
utils/ @mhrusecky @jpavlinec @kkoci

# Web related packages
web/ @mhrusecky @shenek @kkoci
