# Data collection
collect/sentinel/ @kkoci @vmyslivec @mprudek
collect/haas-proxy/ @shenek
collect/pakon/ @mmatejek
collect/pakon-lists/ @mmatejek

# Hardware
hardware/ @mhrusecky
hardware/crypto-wrapper/ @vmyslivec
hardware/mox/mox-otp/ @vmyslivec
hardware/mox/mox-uboot/ @prohar @mbehun
hardware/omnia/omnia-uboot/ @prohar @mbehun

# Lang - Python Packages
lang/ @jschlehofer @jpavlinec
lang/turrishw/ @mmatejek

# Libs
libs/ @jschlehofer @jpavlinec

# Multimedia
multimedia/ @jschlehofer @jpavlinec

# Net
net/ @jschlehofer
net/knot-resolver/ @vcunat @jpavlinec
net/unbound/ @jpavlinec
net/resolver-conf/ @jpavlinec
net/resolver-debug/ @jpavlinec
net/lighttpd/ @jschlehofer
net/lighttpd-https-cert/ @mhrusecky
net/nextcloud/ @mhrusecky
net/dnssec-rootkey/ @jpavlinec @vcunat
net/rmbt-client/ @mprudek

# Updater
updater/ @kkoci

# Utils
utils/ @mhrusecky @jpavlinec @kkoci @jschlehofer

# Web related packages
web/foris-controller/ @mmatejek @fhron
web/foris/ @mmatejek
web/reforis/ @agumroian @msasek
web/turris-webapps/ @agumroian
