# You can set all the leds at once.
config led 'all'
        option color 'turris-default'
        option status 'auto'

# Any other config will overwrite the one set in all
#config led 'pwr'
#        option color 'FF0066'
#        option status 'auto'
#
#config led 'wifi'
#        option color 'FFFF00'
#        option status 'auto'
#
#config led 'lan'
#        option color 'green'
#        option status 'auto'
#
#config led 'wan'
#        option color 'blue'
#        option status 'auto'

# The ones with lan<number> can't set color and the status overwrites the one in the 'lan' section, if mentioned
#config led 'lan4'
#       option status 'disabled'
