config settings 'settings'
	option measurement_type 'CAR'
	option modem_console_path '/dev/ttyUSB0'
	option gps_ctrl_console_path '/dev/ttyUSB1'
	option iperf_server_address 'ltemetr.labs.nic.cz'
	option iperf_server_pass 'YmZhMzY2NWI4NWU'
	option iperf_server_authenticated '0'
	option train_measurement_duration '60'
	option max_distance_to_pause '15'
