config ulogd 'global'
    option logfile "/var/log/ulogd.log"
    option loglevel 5

    list plugin "/usr/lib/ulogd/ulogd_inppkt_NFLOG.so"
    list plugin "/usr/lib/ulogd/ulogd_output_PCAP.so"
    list plugin "/usr/lib/ulogd/ulogd_raw2packet_BASE.so"

    list stack log1:NFLOG,base1:BASE,pcap1:PCAP

#config ct
    #option name ct1
    #option netlink_socket_buffer_size 217088
    #option netlink_socket_buffer_maxsize 1085440
    #option netlink_resync_timeout 60
    #option pollinterval=10
    #option accept_src_filter 192.168.1.0/24,1:2::/64
    #option accept_dst_filter 192.168.1.0/24
    #option accept_proto_filter=tcp,sctp
    #option reliable=1
    #option hash_enable=0


config log
    option name log1
    option group 0
    #option netlink_socket_buffer_size 217088
    #option netlink_socket_buffer_maxsize 1085440
    #option netlink_qthreshold 1
    #option netlink_qtimeout 100
    #option bind 1
    #option numeric_label 0

#config ulog
    #option name ulog1
    #option nlgroup 1
    #option numeric_label 0

#config nuauth
    #option name nuauth1
    #option name socket_path "/tmp/nuauth_ulogd2.sock"

#config emu
    #option name emu1
    #option file="/var/log/ulogd_syslogemu.log"
    #option sync=1

#config op
    #option name op1
    #option file "/var/log/ulogd_oprint.log"
    #option sync 1

#config gp
    #option name gp1
    #option file "/var/log/ulogd_gprint.log"
    #option sync 1
    #option timestamp 1

#config xml
    #option name xml1
    #option directory "/var/log/"
    #option sync 1

#config json
    #option name json1
    #option sync 1
    #option file "/var/log/ulogd.json"
    #option timestamp 0
    #option device "My awesome Netfilter firewall"
    #option boolean_label 1

config pcap
    option name pcap1
    option file "/var/log/ulogd.pcap"
    option sync 1

#config mysql
    #option name mysql1
    #option db "nulog"
    #option host "localhost"
    #option user "nupik"
    #option pass "changeme"
    #option table "ulog"
    #option procedure "INSERT_PACKET_FULL"
    #option backlog_memcap 1000000
    #option backlog_oneshot_requests 10

#config psql
    #option name pgsql1
    #option db "nulog"
    #option host "localhost"
    #option user "nupik"
    #option pass "changeme"
    #option table "ulog"
    #option schema "public"
    #option pass "changeme"
    #option procedure "INSERT_PACKET_FULL"
    #option connstring="host=localhost port=4321 dbname=nulog user=nupik password=changeme"
    #option backlog_memcap 1000000
    #option backlog_oneshot_requests 10
    #option ring_buffer_size=1000


#config dbi
    #option name dbi1
    #option db "ulog2"
    #option dbtype "pgsql"
    #option host "localhost"
    #option user "nupik"
    #option pass "changeme"
    #option table "ulog"
    #option procedure "INSERT_PACKET_FULL"

#config sqlite3
    #option name sqlite3_ct
    #option table "ulog_ct"
    #option db "/var/log/ulogd.sqlite3db"
    #option buffer 200

#config sys
    #option name sys2
    #option facility LOG_LOCAL2

#config nacct
    #option sync 1
    #option file "/var/log/ulogd_nacct.log"

#config mark
    #option name mark1
    #option mark 1

#config acct
    #option name acct1
    #option pollinterval 2
    #option zerocounter 0
    #option timestamp 1

#config graphite
    #option name graphite1
    #option host "127.0.0.1"
    #option port "2003"
    #option prefix "netfilter.nfacct"

config ulogd 'include'
    list directory "/etc/ulogd.d/"
